h1.navy.f-headline.tc.mt3 Blog

.flex.justify-center.mt4.pb5
  BlogCard(
    name='dangers-of-genservers',
    topic='elixir',
    date='October 29th 2018',
    title='The Dangers of GenServers in Elixir',
    authorUrl='https://mikakalathil.ca',
    authorName='Mika Kalathil',
    postSummary=`At Lure, we use the latest software to bring you the best user experience. In this article, Lure CTEO Mika Kalathil outlines some of the
technical details of GenServers in Elixir, which we use to serve a large multitude of people with high speed. This is a deep dive into GenServers and discovering their limitations and strengths.`
  )

script.
  import {BlogCard} from './components'

  export default {
    components: {BlogCard}
  }
