div(ref:container, class='{containerClass}')
  input.mdc-text-field__input(
    id='{fieldId}',
    type='{type}',
    name='{fieldName}',
    autocomplete='{autocomplete}',
    pattern='{pattern}',
    required='{required}',
    tabindex='{tabIndex}'
  )
  label.mdc-floating-label(
    for='{fieldId}'
  ) {label}

  +if('shouldRemoveOutline')
    .mdc-line-ripple

    +else
      .mdc-notched-outline
        svg
          path.mdc-notched-outline__path

      .mdc-notched-outline__idle

script.
  import {MDCTextField} from '@material/textfield'

  import {labelToFieldId, labelToFieldName} from 'helpers/material'

  import {createContainerClass} from './mat-text-field.helpers'

  export default {
    data() {
      return {
        label: '',
        type: 'text',
        required: false,
        shouldRemoveOutline: false,
        name: '',
        isFullWidth: false,
        tabIndex: false,
        className: '',
        autocomplete: false,
        pattern: false
      }
    },

    computed: {
      fieldId: ({label}) => labelToFieldId(label),
      fieldName: ({name, label}) => name || labelToFieldName(label),
      containerClass: ({className, isFullWidth, shouldRemoveOutline}) =>
        createContainerClass(className, isFullWidth, shouldRemoveOutline)
    },

    oncreate() {
      new MDCTextField(this.refs.container)
    }
  }
