section.mt5.flex.flex-column.items-center.w-100.vh-75.justify-center.justify-start-ns
  h1.navy.f-headline Our Team

  .relative.mt5.w-100
    .tns-controls(ref:navContainer)
      button.pl2.pr4.black.pointer
        Icon(name='left-arrow')

      button.pl4.pr2.black.pointer
        Icon(name='right-arrow')

    div(ref:container)
      div
        TeamMember(
          name='Mika Kalathil',
          title='CTEO, Co-Founder',
          description='Mika is responsible for finding the best tech solutions.'
          linkedInUrl='https://www.linkedin.com/in/mikakalathil/'
        )

      div
        TeamMember(
          name='Jerry Graham',
          title='Director of Strategic Partnerships and Co-Founder',
          description='Jerry is able to find the best buisness solutions for your company.'
          linkedInUrl='https://www.linkedin.com/in/jeremy-thomas-graham-02129964/'
        )

      div
        TeamMember(
          name='Michael Lenizky',
          title='UI/UX Designer',
          description='Mike is a digital problem solver specializing in product design and digital marketing',
          linkedInUrl='https://www.linkedin.com/in/mlenizky/'
        )

      div
        TeamMember(
          name='Pilar Guinea Gil',
          title='UI/UX Designer',
          description='Pilar is a UI/UX designer who graduated from the Emily Carr University of Art and Design.',
          linkedInUrl='https://www.linkedin.com/in/pilarguineagil/'
        )

      #last-entry
        TeamMember(
          name='Philip Klippenstein',
          title='Software Engineer',
          description='Phillip\'s interests include robotics and autonomous self-replication',
          linkedInUrl='https://www.linkedin.com/in/philipklippenstein/'
        )

script.
  import './team.component.scss'

  import {tns} from 'tiny-slider/src/tiny-slider'

  import {Icon} from 'components'

  import TeamMember from './team-member.component.pug'

  export default {
    components: {TeamMember, Icon},

    oncreate() {
      setTimeout(() => {
        var slider = tns({
          container: this.refs.container,
          items: Math.floor(window.innerWidth / 250) || 1,
          fixedWidth: 215,
          mouseDrag: true,
          swipeAngle: false,
          controlsContainer: this.refs.navContainer,
          gutter: 15,
          loop: false,
          nav: false,
          edgePadding: 32,
          slideBy: 1,
          speed: 400
        })
      }, 200)
    }
  }
