+if('title')
  h2.navy.lh-solid.f-headline {title}

form.mt4
  MatTextField(
    label='Full Name',
    name='name',
    autocomplete='name',
    required=true,
    className='w-75'
  )

  MatTextField(
    type='tel',
    label='Phone Number',
    name='phone',
    autocomplete='tel',
    pattern='[0-9]{3}-[0-9]{3}-[0-9]{4}',
    className='w-75 mt3'
  )

  MatTextField(
    label='Email',
    autocomplete='email',
    className='w-75 mt3'
  )

  MatTextarea(
    label='Message',
    rows='3',
    cols='40',
    className='mt3 w-100',
    required=true
  )

  MatButton(type='submit', className='mt3')
    span Send

script.
  import {MatTextField, MatTextarea, MatButton} from 'components'

  export default {
    components: {MatTextField, MatTextarea, MatButton},

    data() {
      return {
        title: 'Contact Us'
      }
    }
  }
