section.pb5.pt3
  SlideRight(
    icon='how-we-work-1',
    title='Ideation and Research',
    paragraph='We help you save time and reduce your business costs by engaging in an in-depth discovery and strategy session for your product. We then research market and design trends that fit your goals and values.'
  )

  SlideLeft(
    icon='how-we-work-2',
    title='Sketching and Wireframing',
    paragraph=`
    Our designers start with a hand drawn sketch, made into a lo-fi wireframe to illustrate content layout and user flow before building up to a prototype.

    We test the application’s functionality at various stages of this process, looking to build the best user experience for your customer, and make sure your app is ready to satisfy your user’s needs.
    `
  )

  SlideRight(
    icon='how-we-work-3',
    title='User Testing to Design',
    paragraph='To prevent problems and backtracking at the development stage, we hire talented and seasoned designers to conduct cycles of user validation with your prototype to leave you with a functional and user friendly app that provides confidence and satisfaction in your product.'
  )

  SlideLeft(
    icon='how-we-work-4',
    title='Web Development',
    paragraph='To avert having to restart the development of your product and service because of major bugs or scaling bottlenecks, our team builds self-documenting and tested modular systems to prime your website for future success. Your website and app will also be available offline, and work on all types of devices (Android, IOS, etc).'
  )

  SlideRight(
    icon='how-we-work-5',
    title='Data Analytics',
    paragraph='To reduce bounce rates, increase conversion and help you deliver the best experience to your users, we give you access to advanced data analytics that show how your customers are using your application and what features they would like to add (if needed).'
  )

  SlideLeft(
    icon='how-we-work-6',
    title='Scalability',
    paragraph='As applications get loyal customers there is a need to be able to scale the application so that there are no bugs or long waiting times! We help you figure out how to be able to keep your application clean through growth!'
  )

script.
  import './process.component.scss'

  import {SlideLeft, SlideRight} from './components'

  export default {
    components: {SlideLeft, SlideRight}
  }
