doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title= htmlWebpackPlugin.options.title
    base(href='/')

    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='icon', type='image/png', sizes='32x32', href=require('assets/favicon/favicon-32x32.png'))
    link(rel='icon', type='image/png', sizes='16x16', href=require('assets/favicon/favicon-16x16.png'))
    link(rel='shortcut icon', href=require('assets/favicon/favicon.ico'))

    - if (htmlWebpackPlugin.options.NODE_ENV === 'production')
      - const favIcon = require('assets/favicon/favicon-32x32.png')

      script.
        (function() {
          const LOCAL_STORAGE_KEY = 'LURESWUNREGISTER-V0'

          if ('serviceWorker' in navigator) {
            try {
              if (!localStorage.getItem(LOCAL_STORAGE_KEY)) {
                navigator.serviceWorker.getRegistrations().then(function(registrations) {
                  registrations.forEach(function(registration) {
                    registration.unregister()
                  })

                  localStorage.setItem(LOCAL_STORAGE_KEY, true)
                })
              }
            } catch (e) {
              console.error(e)
            }

            navigator.serviceWorker.register('sw.js')
          }
        })();

      meta(property='fb:app_id' content='2355026794524819')
      meta(name='keywords' content='agency,consulting,web-development,development,engineering,web-design,design,ui/ux,functional programming,fp')

      link(rel='apple-touch-icon', sizes='180x180', href=require('assets/favicon/apple-touch-icon.png'))
      link(rel='mask-icon', href=require('!!file-loader!assets/favicon/safari-pinned-tab.svg'), color='#5bbad5')
      meta(name='msapplication-TileColor', content='#2b5797')
      meta(name='msapplication-config', content=`https://lure.is/${require('assets/favicon/browserconfig.xml')}`)

      - if (htmlWebpackPlugin.options.blogDescription)
        - const description = htmlWebpackPlugin.options.blogDescription
        - const blogUrl = htmlWebpackPlugin.options.blogUrl
        - const blogImage = require(`assets/${htmlWebpackPlugin.options.blogImage}`)
        - const blogTitle = htmlWebpackPlugin.options.blogTitle
        - const blogPublishDate = htmlWebpackPlugin.options.blogPublishDate
        - const author = htmlWebpackPlugin.options.author

        meta(property='og:title' content=blogTitle)
        meta(property='og:site_name' content='Lure\'s Blog')
        meta(property='og:image' content=`https://lure.is/${blogImage}`)
        meta(property='og:description' content=description)
        meta(property='og:url' content=`https://lure.is/${blogUrl}`)
        meta(property='og:type' content='article')
        meta(name='description' content=description)

        script(type='application/ld+json').
          {
            "@context": "http://schema.org",
            "@type": "BlogPosting",
            "mainEntityOfPage": {
              "@type": "WebPage",
              "@id": "https://lure.is/#{blogUrl}"
            },
            "headline": "#{blogTitle}",
            "image": [
              "https://lure.is/#{blogImage}",
             ],
            "datePublished": "#{blogPublishDate}",
            "dateModified": "#{blogPublishDate}",
            "author": {
              "@type": "Person",
              "name": "#{author}"
            },
             "publisher": {
              "@type": "Organization",
              "name": "Lure",
              "logo": {
                "@type": "ImageObject",
                "url": `https://lure.is/#{favIcon}`
              }
            },
            "description": "#{description}"
          }

      - else
        - const description = 'Our network of vetted talent can help your startup with strategy, design, and development so you can preserve your equity for investors.'

        meta(property='og:title' content='Take your startup to the next level')
        meta(property='og:site_name' content='Lure Consulting')
        meta(property='og:image' content=`https://lure.is/${require('assets/lure-logo.png')}`)
        meta(property='og:description' content=description)
        meta(property='og:url' content='https://lure.is')
        meta(property='og:type' content='website')
        meta(name='description' content=description)

        script(type='application/ld+json').
          {
            "@context": "http://schema.org",
            "@type": "Corporation",
            "description": "Our network of vetted talent can help your startup with strategy, design, and development so you can preserve your equity for investors.",
            "url": "https://lure.is",
            "name": "Lure Consulting",
            "logo": {
              "@type": "ImageObject",
              "url": "https://lure.is/#{favIcon}"
            },
            "location": {
              "@type": "City",
              "name": "Vancouver, B.C."
            }
          }

      // Google Analytics
      //- style.
      //-   .async-hide { opacity: 0 !important}

      //- script.
      //-   (function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
      //-   h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
      //-   (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
      //-   })(window,document.documentElement,'async-hide','dataLayer',4000,
      //-   {'GTM-P4QM24T':true});


      // Google Tag Manager
      script.
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-M649SH8');

      script(async src='https://www.googletagmanager.com/gtag/js?id=UA-127515836-1')
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-127515836-1', {optimize_id: 'GTM-P4QM24T'});


      // Log Rocket
      script(src='https://cdn.logrocket.io/LogRocket.min.js' crossorigin='anonymous').
        window.LogRocket && window.LogRocket.init('nac0rh/lure-lander');

      <!--[if (lt IE 9)]><script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.8.7/min/tiny-slider.helper.ie8.js"></script><![endif]-->

  body
    noscript
      iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-M649SH8", height="0", width="0", style="display:none;visibility:hidden")


